{% extends "base.html" %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер стола</th>
            <th>Блюда</th>
            <th>Стоимость</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>{{ order.items }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                <a href="{{ order.id }}/update/" class="btn btn-primary btn-sm">Изменить</a>
                <a href="{{ order.id }}/delete/" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="create/" class="btn btn-success">Добавить заказ</a>
{% endblock %}
